.contenedor{
    display: flex;
    justify-content: center;
    background-color: rgb(119, 119, 230);
    padding: 10px;
    border: 2px solid rgb(114, 216, 235);
  
   
}

.contenedor div{
    background-color: rgb(30, 144, 210);
    flex-grow: 5;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: 2px solid black;

}

body{
    background-color: pink;
}